.search {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.search-row {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  text-decoration: none;
}

.switch-text {
  margin-right: 10px;
  font-size: 13px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='text'] {
  margin-right: 10px;
  width: 130px;
  height: 25px;
  padding: 4px;
  background-color: #efefef;
  border: #efefef solid 2px;
}

input[type='text']:hover {
  border: #2196f3 solid 2px;
  border-radius: 1px;
  text-decoration: none;
  outline: none;
}

.search button {
  float: left;
  width: 40px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 100px;
}

.search button:hover {
  background: #0b7dda;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 400px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.jobs {
  padding: 5px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;
}

.job-title {
  display: flex;
  align-items: center;
  color: #0059a0;
  font-size: 14px;
  font-weight: bold;
}

.job-title i {
  margin-left: 8px;
}
